/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
*~
\#*\#
.\#*
install.cmd
/install.sh
/deploy.sh
/.cljs_nashorn_repl/
/.cljs_rhino_repl/
/nashorn_code_cache/
/.cljs_rhino_repl/
/.cljs_node_repl/
/out/
/.lein-env
.inline-deps
